<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Backbone todos</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="root" type="text/template">

</div>

<script id="todo-list" type="text/html">
  <h1>Todo list</h1>
  <% if (totalCount) {%>
    <label for="filter">Filter TODOS</label>
    <select name="filter" id="filter" value="<%=currentFilter %>">
      <% filters.forEach(filter => { %>
        <option selected="<%= filter === currentFilter%>" value="<%=filter %>"><%=filter %></option>
      <% })%>
    </select>
    <label for="sort">Sort TODOS</label>
    <select name="sort" id="sort">
      <% sortOptions.forEach(sortOption => { %>
       <option selected="<%= sortOption === currentSortOption%>" value="<%=sortOption %>"><%=sortOption %></option>
      <% })%>
    </select>
  <% } %>
  <% if (totalCount) {%>
    <ul class="todo-list"></ul>
    <p>You have  <mark><%=todos.length %></mark> TODOS</p>
  <%} else {%>
    <p>You don't have any todos</p>
  <%} %>
  <form>
    <label>
      Add todo <input class="added-todo" type="text"><br>
      <input class="add-todo" type="submit" value="Add TODO">
    </label>
  </form>
</script>

<script id="todo" type="text/template">
  <% if (isEdit) {%>
    <input type="text" value="<%=text %>"/>
    <div>
      <button class="save">Save</button>
      <button class="cancel">Cancel</button>
    </div>
  <% } else {%>
    <div class="flex">
      <p><%= text %></p>
      <input type="checkbox" <%=completed ? 'checked' : '' %>/>
    </div>
    <div>
      <button class="edit">Edit</button>
      <button class="delete">Delete</button>
    </div>
  <% }%>
</script>

<!-- Vendor -->
<script src="vendor/axios/dist/axios.min.js"></script>
<script src="vendor/jquery/dist/jquery.js"></script>
<script src="vendor/underscore/underscore.js"></script>
<script src="vendor/backbone/backbone-min.js"></script>

<!-- App -->
<script> let app</script>
<script src="models/todo.js"></script>
<script src="collections/todoList.js"></script>
<script src="views/TodoView.js"></script>
<script src="views/TodoListView.js"></script>
<script src="app.js"></script>
</body>
</html>